@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@font-face {
src:  url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');
font-family: 'bold';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 11
    40px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

