.cards {
    padding: 100px ;
    background: #FFF;
}

.cards__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.cards__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

}

.cards__wrap-img {}

.cards__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}

.cards__desc-h {
    font-family: 'Gothic A1';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.cards__wrap-p {
    font-family: 'Gothic A1';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
color: #6B6B6B;
text-align: center;

}